#content {
    h1 {
        font-size: 36px;
    }

    .ui {
        &.dividing.header {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    #content {
        padding-top: 60px;
    }
}
