@import '~semantic-ui-css/semantic.min.css';

body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}

a {
    &:active,
    &:focus {
        outline: 0;
        border: none;
        -moz-outline-style: none;
    }
}
