.ui.auth {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ui.auth::after {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .3);
}

.ui.auth > .auth-container {
    position: relative;
    z-index: 5;
    max-width: 450px;
}

.ui.auth > .auth-container > .auth-header {
    color: #ffffff;
    text-align: center;
}
